<div class="page">
	<h2><%= @prod_desc.s_name %></h2>
	<br>
	<strong>Category:</strong> <%= @prod_desc.category%><br><br>
	<strong>Investment Objective:</strong>
	<span><%= @prod_desc.objective %></span><br><br>
	<strong>Rating:</strong><%= @prod_desc.rating %>
</div>